/* 
.row{
    margin-left: 30px;
}


#Facebook
{
    margin-top:150px;
}

#form{
    margin-top:150px;
    margin-left: 80px;
} */

#btn {
    font-size: 14px; 
    padding: 5px 15px; 
    margin-left: 50px;
}
